@media screen and (max-width: 1000px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 100;
  }

  .nav-links {
    position: fixed;
    right: 0%;
    top: 0%;
    background: $dark-color;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }

  #projects {
    height: 200vh;
    min-height: 2200px;
    font-size: 15px;
  }
  .project {
    flex-direction: column;
  }
  .project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80% !important;
  }
  .project-description {
    padding-left: 0px !important;
    width: 80% !important;
  }
  form {
    width: 70% !important;
  }
}

@media screen and (max-width: 800px) {
  .container-about {
    flex-direction: column;
    padding: 20vh 0vw;
  }
  .about-text {
    width: 90% !important;
  }

  .about-image {
    height: 400px !important;
    width: 200px !important;
  }
  .about-text {
    width: 100vw;
  }

  .project-image {
    width: 90% !important;
  }
  .project-description {
    width: 90% !important;
  }
}

@media screen and (max-width: 680px) {
  .section-home {
    font-size: 12px !important;
  }
  #projects {
    min-height: 2300px;
  }
  .project-image {
    width: 100% !important;
  }
  .project-description {
    width: 100% !important;
  }
  form {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .about-text {
    h2 {
      font-size: 2.2em !important;
    }
  }
  .container-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  #projects {
    min-height: 2500px;
  }
  .section-contact {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .section-home {
    font-size: 10px !important;
  }
  .about-text {
    font-size: 14px !important;
    h2 {
      display: none;
    }
  }
  #projects {
    font-size: 14.5px;
    min-height: 2000px;
  }
  .project-image {
    height: auto !important;
  }
  .contact-title {
    font-size: 3em !important;
    text-align: center;
  }
}
