@media screen and (min-width: 1600px) {
  header,
  section {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1000px) {
  .line {
    width: 30px;
    height: 3px;
    background: $white-color;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 100;
  }

  .nav-links {
    position: fixed;
    right: 0%;
    top: 0%;
    background: $dark-color;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }

  .landing {
    flex-direction: column;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  li.fade {
    opacity: 1;
  }

  #projects {
    font-size: 15px;
  }

  .project {
    flex-direction: column;
  }

  .project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80% !important;
  }

  .project-description {
    padding-left: 0px !important;
    width: 80% !important;
  }

  form {
    width: 70% !important;
  }
}

@media screen and (max-width: 800px) {
  .container-about {
    flex-direction: column;
    padding: 10vh 0vw;
  }

  .about-text {
    width: 90% !important;
    height: 60% !important;

    h2 {
      display: none;
    }
  }
  .about-image {
    height: 40% !important;
    width: 200px !important;
  }
  .about-text {
    width: 100vw;
  }

  .project-image {
    width: 90% !important;
  }

  .project-description {
    width: 90% !important;
  }
}

@media screen and (max-width: 680px) {
  .section-home {
    font-size: 12px !important;
  }

  .about-text {
    font-size: 0.95em;
  }

  .project-image {
    width: 100% !important;
  }

  .project-description {
    width: 100% !important;

    .links {
      width: 100%;
      .demo {
        width: 100%;
        text-align: center;
      }
    }
  }

  form {
    width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  .section-home {
    font-size: 10px !important;

    .container-home {
      align-items: flex-start !important;

      .btn-projects:hover {
        transform: scale(1) !important;
      }

      .arrow-down {
        display: none !important;
      }
    }
  }

  .container-about {
    padding: 8vh 0vw;

    .about-text {
      font-size: 0.9em;
      margin-top: 4vh;
    }
  }
  .section-contact {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .about-image {
    height: 35% !important;
    width: 70% !important;
    min-width: 150px;
  }

  .about-text {
    font-size: 14px !important;
  }

  #projects {
    font-size: 14.5px;
  }

  .project-image {
    height: auto !important;
  }

  .contact-title {
    font-size: 3em !important;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .container-about {
    padding: 2vh 0vw;

    .about-image {
      display: none;
    }

    .about-text {
      height: 100% !important;
      width: 100% !important;
      font-size: 16px !important;
      margin: 0;

      .about-skills {
        grid-template-columns: 1fr !important;
      }
    }
  }
}
